.about {
  background: linear-gradient(180deg, #0e0320, #0c0c1d);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 400;
      font-size: 1rem;
      text-align: right;
      color: #ffffff85;
    }

    hr {
      width: 200px;
      border: none;
      border-top: 0.5px solid #ffffff85;
    }
  }

  .titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      h1 {
        font-size: 5rem;
        font-weight: 200;
      }
    }
  }

  .contentContainer {
    flex: 3;
    max-width: 1200px;
    display: flex;
    margin: auto;

    .box {
      font-size: 1.5rem;

      p {
        border: 1px solid #ffffff85;
        box-shadow: 0 5px 5px 5px #eb4a7e;
        animation: rectangleAnimate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        overflow: hidden;

        span {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: bold;
          color: #339dc4;
        }
      }

      @keyframes rectangleAnimate {
        0%,
        100% {
          border-radius: 20px;
        }
        25% {
          border-radius: 50px;
        }
        50% {
          border-radius: 5px;
        }
        75% {
          border-radius: 30px;
        }
      }
    }
  }
}
